{% extends 'home/base.html' %}
{% load static % }
        {% block head %}
		  <!-- meta data -->
		  
		  
		  <!-- title of site -->
		  <title>Furniture</title>
  
		  <!-- For favicon png -->
		  
		  
		 
  
		{% endblock head %}
	
	{% block body}
		
		
		

	<!--welcome-hero start -->
	{% block header %}	
	<div id="header-carousel" class="carousel slide carousel-fade" data-ride="carousel">
		<!--/.carousel-indicator -->
			<ol class="carousel-indicators">
				<li data-target="#header-carousel" data-slide-to="0" class="active"><span class="small-circle"></span></li>
				<li data-target="#header-carousel" data-slide-to="1"><span class="small-circle"></span></li>
				<li data-target="#header-carousel" data-slide-to="2"><span class="small-circle"></span></li>
			</ol><!-- /ol-->
		<!--/.carousel-indicator -->

		<!--/.carousel-inner -->
		<div class="carousel-inner" role="listbox">
			<!-- .item -->
			<div class="item active">
				<div class="single-slide-item slide1">
					<div class="container">
						<div class="welcome-hero-content">
							<div class="row">
								<div class="col-sm-7">
									<div class="single-welcome-hero">
										<div class="welcome-hero-txt">
											<h4>great design collection</h4>
											<h2>cloth covered accent chair</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
											</p>
											<div class="packages-price">
												<p>
													$ 399.00
													<del>$ 499.00</del>
												</p>
											</div>
											<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
												<span class="lnr lnr-plus-circle"></span>
												add <span>to</span> cart
											</button>
											<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
												more info
											</button>
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
								<div class="col-sm-5">
									<div class="single-welcome-hero">
										<div class="welcome-hero-img">
											<img src="media/assets/images/slider/slider1.png"  alt="slider image">
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.welcome-hero-content-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->

			</div><!-- /.item .active-->

			<div class="item">
				<div class="single-slide-item slide2">
					<div class="container">
						<div class="welcome-hero-content">
							<div class="row">
								<div class="col-sm-7">
									<div class="single-welcome-hero">
										<div class="welcome-hero-txt">
											<h4>great design collection</h4>
											<h2>mapple wood accent chair</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
											</p>
											<div class="packages-price">
												<p>
													$ 199.00
													<del>$ 299.00</del>
												</p>
											</div>
											<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
												<span class="lnr lnr-plus-circle"></span>
												add <span>to</span> cart
											</button>
											<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
												more info
											</button>
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
								<div class="col-sm-5">
									<div class="single-welcome-hero">
										<div class="welcome-hero-img">
											<img src="media/assets/images/slider/slider3.png" alt="slider image">
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.welcome-hero-content-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->

			</div><!-- /.item .active-->

			<div class="item">
				<div class="single-slide-item slide3">
					<div class="container">
						<div class="welcome-hero-content">
							<div class="row">
								<div class="col-sm-7">
									<div class="single-welcome-hero">
										<div class="welcome-hero-txt">
											<h4>great design collection</h4>
											<h2>valvet accent arm chair</h2>
											<p>
												Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiuiana smod tempor  ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip. 
											</p>
											<div class="packages-price">
												<p>
													$ 299.00
													<del>$ 399.00</del>
												</p>
											</div>
											<button class="btn-cart welcome-add-cart" onclick="window.location.href='#'">
												<span class="lnr lnr-plus-circle"></span>
												add <span>to</span> cart
											</button>
											<button class="btn-cart welcome-add-cart welcome-more-info" onclick="window.location.href='#'">
												more info
											</button>
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
								<div class="col-sm-5">
									<div class="single-welcome-hero">
										<div class="welcome-hero-img">
											<img src="media/assets/images/slider/slider3.png" alt="slider image">
										</div><!--/.welcome-hero-txt-->
									</div><!--/.single-welcome-hero-->
								</div><!--/.col-->
							</div><!--/.row-->
						</div><!--/.welcome-hero-content-->
					</div><!-- /.container-->
				</div><!-- /.single-slide-item-->
				
			</div><!-- /.item .active-->
		</div><!-- /.carousel-inner-->

	</div><!--/#header-carousel-->

	{% endblock header %}
	{% block content %}
		
		<div class="container pt-5">
			<div class="row">      
				<div class="col-md-8 order-md-6 col-lg-9">
					<div class="row">
						{% for product in products %}
							<div class="col-6 col-md-6 col-lg-4 mb-3">
								<div class="card h-100 border-0">
									<div class="card-img-top">
										<img src="{% if product.image %} {{product.image.url}} {% else %} cc {% endif %}"
													
											class="img-fluid mx-auto d-block" alt="Card image cap">
									</div>
									<div class="card-body text-center">
										<h4 class="card-title">
											<a href="{{product.get_absolute_url}}" class=" font-weight-bold text-dark text-uppercase small">
												{{ product.name}}</a>
										</h4>
										<h5 class="card-price small text-warning">
											<i>${{product.price }}</i>
										</h5>
									</div>
								</div>
							</div>
						{% endfor %}
					</div>
				</div>
				 
				  		
				<div class="col-md-4 order-md-1 col-lg-3 sidebar-filter">
					<h3 class="mt-0 mb-5">Showing <span class="text-primary">12</span> Products</h3>
					<h6 class="text-uppercase font-weight-bold mb-3">Categories</h6>
					<form action="." method="post">
						{% csrf_token %}
						{% for cate in categories %}
							<div class="mt-2 mb-2 pl-2">
								<div class="custom-control custom-checkbox">
									<input type="checkbox" name="cate-{{cate.Name}}" class="custom-control-input" id="category-1">
									<label class="custom-control-label" for="category-1">{{ cate.Name}}</label>
								</div>
							</div>
						{% endfor %}
						<div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
						<h6 class="text-uppercase mt-5 mb-3 font-weight-bold">Price</h6>
						<div class="price-filter-control">
							<input type="number" name="price-min" class="form-control w-50 pull-left mb-2" value="50" id="price-min-control">
							<input type="number" name="price-max"class="form-control w-50 pull-right" value="150" id="price-max-control">
						</div>
						<input id="ex2" type="text" class="slider " value="50,150" data-slider-min="10" data-slider-max="200"
							data-slider-step="5" data-slider-value="[50,150]" data-value="50,150" style="display: none;">
						<div class="divider mt-5 mb-5 border-bottom border-secondary"></div>
						
						<button type="submit" name="submit-Update" class="btn btn-lg btn-block btn-primary mt-5">Update Result</button>
					</form>
				</div>
				
		
			</div>
		</div>
		
		<div>chao mung </div>
	{% endblock content %}

	
	{% block script %}
		
	{% endblock script %}
		
